 <nav>
    <h1>
        <span class="material-symbols-outlined">
                home
        </span>
        <a href="/">Members Only</a>
    </h1>
    <% if(!locals.currentUser){ %>
        <div>
            <span class="material-symbols-outlined">
                login
            </span><a href="/login">Login</a>
        </div>
        <div>
            <span class="material-symbols-outlined">
                app_registration
            </span><a href="/sign-up">Sign Up</a>
        </div>
    <% }else{ %>
        <div class="account">
            <div class="overview btn <%= currentUser.membership_status ? 'member' : null%> <%= currentUser.is_admin ? 'admin' : null%>">
                <span class="material-symbols-outlined">
                    account_circle
                </span>
                <p><%= currentUser.first_name %></p>
            </div>
            <div class="info">
                <p>Welcome,<%= currentUser.first_name %> <%= currentUser.last_name %></p>
                <p><%= currentUser.username %></p>
                <p>You are <%= !currentUser.membership_status ? 'not' : null%> a member</p>
                <p>You are <%= !currentUser.is_admin ? 'not' : null%> an admin</p>
                <a href="/logout">Logout</a>
            </div>
        </div>
        <% if(!currentUser.membership_status){ %>
            <a href="/become-member">Become a member of the club</a>
        <% }else{ %>
            <% if(!currentUser.is_admin){ %>
                <a href="/become-admin">Become an admin of the club</a>
            <% } %>
        <% } %>
    <% } %>
    <script>
        //overview btn animation
        const overview = document.querySelector('.overview')
        if(overview){
            overview.addEventListener('click',(e)=>{
                e.stopPropagation()
                overview.classList.toggle('active')
                const account = document.querySelector('.account')
                account.classList.toggle('active')
            })
        } 

        window.addEventListener('click',(e)=>{
            const overview = document.querySelector('.overview')
            const account = document.querySelector('.account')
            if(overview && overview.classList.contains('active')){
                overview.classList.remove('active')
                account.classList.remove('active')
            }
        })
    </script>
</nav>