<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>
    <%- include('partials/flash',{flash: locals.flashError}) %>
    <%- include('partials/nav') %>
   <main>
        <% if(!locals.currentUser){ %>
            <p>You must first <a href="/login">Login</a> to become a member</p>
        <% }else if(currentUser.membership_status){ %>
            <p>You are already a member</p>
        <% }else{  %>
            <form action="/update-member-status" method="POST">
                <h1><%= title %></h1>
                <input type="text" name="userId" value="<%= currentUser.id %>" hidden>
                <h2>Answer the riddle to become a member</h2>
                <div class="field">
                    <p style="color: white; text-shadow: -1px 1px 0px black;"><b>What word is always spelled wrong?</b></p>
                    <textarea name="answer" id="answer" placeholder="Answer" required></textarea>
                </div>
                <button class="create btn">Submit</button>
            </form>
        <% } %>
    </main>
    <%- include('partials/btnAnimation') %>
</body>
</html>