<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

<body>
    <%- include('partials/flash',{flash: locals.flashSuccess}) %>
    <%- include('partials/flash',{flash: locals.flashError}) %>
    <%- include('partials/nav') %>
    <% if(locals.user){ %>
        <div class="main title">
            <div class="info">
                <h2>Messages</h2>
                <a href="/new-message" class="btn create">
                    <span class="material-symbols-outlined">
                        add
                    </span>     
                    New message
                </a>
            </div>
        </div>
    <% }else{ %>
        <div class="main title">
            <div class="info">
                <h2>Messages</h2>
                <a href="/new-message" class="disabled" title="Login to post a message">New message</a>
            </div>
        </div>       
    <% } %>

    <main>
        <% messages.forEach(message=>{ %>
            <article>
                <div class="header">
                    <h3><%= message.title %></h3>    
                    <div>
                        <% if(!locals.user){ %>
                            <p class="author" title="Login and become a member to see this">
                                <span class="material-symbols-outlined">
                                    article_person
                                </span>Author: ???
                            </p>
                            <p class="date" title="Login and become a member to see this">
                                <span class="material-symbols-outlined">
                                    date_range
                                </span>Created at: **/**/***</p>
                        <% } else if(!user.membership_status){ %>
                            <p class="author" title="Become a member to see this">
                                <span class="material-symbols-outlined">
                                    article_person
                                </span> Author: ???</p>
                            <p class="date" title="Become a member to see this">
                                <span class="material-symbols-outlined">
                                    date_range
                                </span>Created at: **/**/***</p>
                        <% } else{ %>
                            <p class="author">
                                <span class="material-symbols-outlined">
                                    article_person
                                </span> <%= user.first_name %> <%= user.last_name %> (<%= user.username %>)</p>
                            <p class="date">
                                <span class="material-symbols-outlined">
                                    date_range
                                </span><%= new Date(message.created_at).toLocaleString() %>
                            </p>
                        <% } %>
                    </div>
                    <% if(locals.user && user.is_admin){ %>
                        <a href="/delete/<%= message.id %>" class="delete btn">
                            <span class="material-symbols-outlined">
                                delete
                            </span>
                            Delete
                        </a>
                    <% } %>
                </div> 
                <p class="message"><%= message.message %></p>
            </article>
        <% })%>

        
    </main>
    <%- include('partials/btnAnimation') %>
</body>
</html>