<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

<body>
    <%- include('partials/flash',{flash: flashSuccess}) %>
    <%- include('partials/flash',{flash: flashError}) %>
    <nav>
        <% if(!locals.user){ %>
            <a href="/login">Login</a>
            <a href="/sign-up">Sign Up</a>
        <% }else{ %>
            <div class="account">
                <div class="overview">
                    <img src="/account_icon.png">
                    <p><%= user.first_name %></p>
                </div>
                <div class="info">
                    <p><%= user.first_name %> <%= user.last_name %></p>
                    <p><%= user.username %></p>
                    <p>You are <%= !user.membership_status ? 'not' : null%> a member</p>
                    <p>You are <%= !user.is_admin ? 'not' : null%> an admin</p>

                    <a href="/logout">Logout</a>
                </div>
            </div>
            
            
            <% if(!user.membership_status){ %>
                <a href="/become-member">Become a member of the club</a>
            <% }else{ %>
                <% if(!user.is_admin){ %>
                    <a href="/become-admin">Become an admin of the club</a>
                <% } %>
            <% } %>
        <% } %>
    </nav>
    
    <% if(locals.user){ %>
        <div class="title">
            <h1><%= title %></h1>
            <a href="/new-message">New message</a>
        </div>
    <% }else{ %>
        <div class="title">
            <h1><%= title %></h1>
            <a href="/new-message" class="disabled" title="Login to post a message">New message</a>
        </div>
    <% } %>

    <main>

        <% messages.forEach(message=>{ %>
            <article>
                <div>
                    <% if(locals.user && user.is_admin){ %>
                        <div class="title">
                            <h2><%= message.title %></h2>
                            <a href="/delete/<%= message.id %>" class="delete btn">Delete</a>
                        </div>
                    <% }else{ %>
                        <h2><%= message.title %></h2>
                    <% } %>
                    
                    <% if(!locals.user) {%> 
                        <p title="Login and become a member to see this">Author: ???</p>
                        <p title="Login and become a member to see this">Created at: **/**/***</p>
                    <% } else if(!user.membership_status){%>
                        <p title="Become a member to see this">Author: ???</p>
                        <p title="Become a member to see this">Created at: **/**/***</p>
                    <% }else{ %>
                        <p>Author: <%= user.first_name %> <%= user.last_name %> (<%= user.username %>)</p>
                        <p>Created at: <%= message.created_at %></p>
                    <% } %>
                    <p><%= message.message %></p>
                </div>
                <p></p>
            </article>
        <% })%>

        
    </main>
    <script>
        const overview = document.querySelector('.overview')
        overview.addEventListener('click',(e)=>{
            overview.classList.toggle('active')
            const account = document.querySelector('.account')
            account.classList.toggle('active')
        })
    </script>
</body>
</html>